body{
    background-color: black;
    margin: 0;
    
}

h1{ 
    color: White;
}


header{
    height: 800px;
    background-color: black;
    margin: -15;
}

.logo_container{
    height: 100px;

}

.logo{
    height: 50px;
    display: inline
}

.idioma{
    height: 25px;
    border: solid white 2px;
    width: 80px;
    color: white;
    display: inline;
}

.sign_in{
    height: 27px;
    width: 84px;
    background-color: red;
    color: white; 
    display: inline
}

.mundo{
    height: 20px;
    margin: 50px auto 100px auto;
}

main{
    width: 60%;
    margin: 0 auto 0 auto;    
    display: flex;
    flex-direction:column;
}

.movie_01{
   color: white; 
    margin: 50px auto 50px auto;
    display:flex;
}

.movie_02{
    color: white; 
    margin: 50px auto 50px auto;
    display:flex;
}

.movie_03{
    color: white;
    margin: 50px auto 50px auto;
    display:flex;

}

.movie_04{
    color: white; 
    margin: 50px auto 50px auto;
    display:flex;

}

.Questions{
    color: white; 
    margin: 50px auto 50px auto;
    display:flex;
    flex-direction: column;

}

.last_menu{
    height: 50px;
    width: 500px;
    background-color: #303030; 
}

.image_right{
    float: right;
    margin-left: 30px;

}

.image_left{
    float: left;
    margin-right: 30px;

}